<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edición usuario</title>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css.css' %}">
    </head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Editando sus datos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <span class="navbar-text"><a href="/quotes" class="white mr-auto">Atras</a></span>
            <span class="navbar-text"><a href="/logout" class=" btn-danger btn move move-r ">Salir</a></span>

            
          </div>
        </div>
      </nav>
    <br>
    <div class='row'>
        <div class='move col-6'>
            <form action="/myaccount/{{user_info.id}}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message | safe }}
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="ffname">Nombre:</label>
                    <input type="text" id="ffname" name="first_name" class="form-control" value="{{user_info.first_name}}">
                </div>
                <div class="form-group">
                    <label for="llname">Apellido:</label>
                    <input type="text" id="llname" name="last_name" class="form-control" value={{user_info.last_name}}>
                </div>
                <div class="form-group">
                    <label for="eemail">Correo:</label>
                    <input type="text" id="eemail" name="email" class="form-control" value={{user_info.email}}>
                </div>
                 <br>
                <button type="submit" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>