<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mostrar citas</title>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css.css' %}">
    </head>
<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <span class="navbar-text">
                <a href="/quotes" class="white mr-auto">Atras</a></span>
                <span class="navbar-text"><a href="/logout" class=" btn-danger btn move move-r ">Salir</a></span>
          </div>
        </div>
      </nav>

    <br>
    <h3 class="text-center">{{user_uploader.first_name}} {{user_uploader.last_name}} y sus citas publicadas</h3>
    {%for quote in all_quotes_uploaded_by_user %}
    <div class="box container">
        <p><span class="red">{{quote.author}}</span>: "{{quote.quote}}"</p>
    </div>
    {% endfor %}
